extends ../layout

block title
  title='Patrons'

block header
  h1='Patrons'

block content
  p: a(class='button' href='/patrons/new') Create New Patron 

  include ../includes/filters
  +filters('/patrons')

  include ../includes/search
  +search('/patrons/search', 'patron')

  include ../includes/pagination
  +paginate(page, totalPages, paginationRoot)

  include ./includes/table
