extends ../layout

block content
  h1 New Patron
  include ./includes/form
  +createForm(`/patrons/new`, dataValues, errors)
    p: input(type='submit' value='Create Patron')
    p: a(class='button' href='/patrons/all?page=1&limit=10') Cancel

