extends ../layout

block content
  h1 Update Patron
  include ./includes/form
  +createForm(`/patrons/${dataValues.id}/update`, dataValues, errors)
    p: input(type='submit' value='Update Patron')
    p: a#delete(class='button' href=`/patrons/${dataValues.id}/delete`) Delete
    p: a#cancel(class='button' href='/patrons?page=1&limit=10') Cancel

  h2 Loan History
  include ../loan/includes/table
  +loanHistory(dataValues.Loans)

