form.search(action='/books/search' method='get')
  p
    input#book-q(name='q' type='text')
    input(type="submit" value="Search")
    input(type='hidden', name='page', value='1')
    input(type='hidden', name='limit', value='10')
