extends ../layout.pug

block content
  h2=dataValues.title
  p 
    | Are you sure you want to delete 
    em#book-title=dataValues.title
    | ?
  form(action=`/books/${dataValues.id}/delete`, method="post")
    a.button(href=`/books/${dataValues.id}/update`) No! Take me back! 
    | 
    input(type="submit", value = "Yes, I'm sure")
