extends ../layout

block title
  title='Books'

block header
  h1='Books'

block content
  p: a(class='button' href='/books/new') Create New Book 

  include ../includes/filters
  +filters('/books')

  include ../includes/search
  +search('/books/search', 'book')

  include ../includes/pagination
  +paginate(page, totalPages, paginationRoot)

  include ./includes/table
