extends ../layout

block title
  title='Books'

block header
  h1='Books'

block content
  p: a(class='button' href='/books/new') Create New Book 
  br
  include ./includes/search
  include ../includes/pagination
  +paginate(page, totalPages, paginationRoot)
  include ./includes/table
