extends ../layout

block content
  h1 New Book

  if (errors)
    each error in errors
      p.error= error

  form(method='post' action='/books/new')
    p
      label(for='title') Title
      input.book-detail(name='title' type='text' id='title')
    p
      label(for='author') Author
      input.book-detail(name='author' type='text' id='author')
    p
      label(for='genre') Genre
      input.book-detail(name='genre' type='text' id='genre')
    p
      label(for='year') Year
      input.book-detail(name='year' type='text' id='year')

    p: input(type='submit' value='Create Book')
    p: a(class='button' href='/books') Cancel
