extends ../layout

block content
  h1 New Book
  include ./includes/form
  +createForm('/books/new', dataValues, errors)
    p: input(type='submit' value='Create Book')
    p: a(class='button' href='/books?page=1&limit=10') Cancel
