extends ../layout

block title
  title='Loans'

block header
  h1='Loans'

block content
  p: a(class='button' href='/loans/new') Create New Loan
  br

  include ../includes/pagination
  +paginate(page, totalPages, paginationRoot)

  include ./includes/table
