extends ../layout

block title
  title='New Loan'

block header
  h1='New Loan'

block content
  include ./includes/form
  +createForm('/loans/new', dataValues, errors)
    p: input(type='submit' value='Create Loan')
    p: a#cancel(class='button' href='/loans/all?page=1&limit=10') Cancel
