extends ../layout

block title
  title='Update Loan'

block header
  h1='Update Loan'

block content
  include ./includes/form
  +createForm(`/loans/${dataValues.id}/update`, dataValues, errors)
    p: input#update(type='submit' value='Update Loan')
    p: a#delete(class='button' href=`/loans/${dataValues.id}/delete`) Delete
    p: a#cancel(class='button' href='/loans?page=1&limit=10') Cancel
